/* Styles used on all pages */

body {
    background-color: #FFBB99;
    }

h1 {
    font-size: 45pt;
    margin-bottom: 30px;
    text-align: center;
    padding: 20px;
    color: white;
    font-family: 'DM Serif Display', serif;

}

.topnav {
    background-color: #374A2E;
    overflow: hidden;
    margin-bottom: 50px;
    font-family: 'Shrikhand', cursive;
}
.topnav a {
    float: right;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: 'Shrikhand', cursive;
}
.dropdown {
    float: right;
    overflow: hidden;
    font-family: 'Shrikhand', cursive;
}
.dropdown .dropbtn {
    font-size: 17px; 
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    font-family: 'Shrikhand', cursive;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    font-family: 'Shrikhand', cursive;
  }
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-family: 'Shrikhand', cursive;
  }
  .dropdown-content a:hover {
    background-color: #ddd;
    font-family: 'Shrikhand', cursive;
  }
  .dropdown:hover .dropdown-content {
    display: block;
    font-family: 'Shrikhand', cursive;
  }

.topnav a:hover {
    background-color: black;
    color: white;
    text-align: right;
    padding: 14px 16px;
    font-family: 'Shrikhand', cursive;
}

/* following styles are for other pages */

#content {
    font-family: 'Roboto', sans-serif;

}
h2 {
    font-family: 'DM Serif Display', serif;
}


.first-section {
    text-align: left;
    margin-bottom: 50px;
}
.second-section {
    text-align: right;
    margin-bottom: 50px;
}
#first-image {
    width: 200px;
    float: left;
    margin: 0 30px 0 30px;
}
#second-image {
    width: 200px;
    float: right;
    margin: 0 30px 30px 30px;
}

.blog-content {
    font-family: 'Roboto', sans-serif;
    font-size: 13pt;
    margin-left: 250px;
    margin-right: 250px;
}

#screenshot1 {
    width: 750px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 25px;
    padding-bottom: 25px;
}
#screenshot2 {
    width: 750px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 25px;
    padding-bottom: 25px;
}
#screenshot3 {
    width: 750px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 25px;
    padding-bottom: 25px;
}